.hero {
  max-width: 1600px;
  height: 600px;
  background-color: $main-color;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Hero-opt.jpg);
  padding-top: 200px;
}
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}
.hero-button {
  background-color: $accent-color;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: inherit;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
}
