.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.give-information {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

input[type='text'],
input[type='tel'],
input[type='email'] {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 11px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal input:focus,
textarea:focus {
  border: 1px solid #2196f3;
  cursor: pointer;
}
textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
input[type='checkbox'] {
  margin-right: 9px;
  margin-left: 12px;
}
.agree-conditions {
  letter-spacing: 0.03em;
}
.agreement {
  color: $accent-color;
}
.textarea {
  width: 100%;
  padding: 12px 16px;
  height: 120px;
  resize: none;
  margin-top: 4px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-block {
  position: relative;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transform: translateY(-65%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
input[type='text']:focus + .modal-icon,
input[type='tel']:focus + .modal-icon,
input[type='email']:focus + .modal-icon {
  fill: $accent-color;
}

.submit-button {
  background-color: $accent-color;
  border: none;
  margin: 0 auto;
  display: block;
  padding: 10px 55px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  &:hover {
    cursor: pointer;
  }
}

.label {
  display: flex;
  align-items: center;
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 2px;
  margin-left: 12px;
  margin-right: 7px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .checkbox-icon {
  background-color: $accent-color;
  background-image: url(../images/icons/label.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border-color: $accent-color;
  background-origin: border-box;
  border-radius: 2px;
}
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  padding: 6px;
}
.button-close:hover .close-icon {
  fill: $accent-color;
}
