body {
  font-family: 'Roboto', sans-serif;
  color: $main-color;
  font-size: 14px;
  line-height: 1.71;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
header {
  border-bottom: 1px solid #ececec;
}
.container {
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
.link {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $secondary-color;
  line-height: 1.14;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
header .link.current {
  color: $accent-color;
}
.current::before {
  content: '';
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: 0;
  background-color: $accent-color;
  border-radius: 2px;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
li {
  margin-top: 0;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-color;
  margin-top: 0;
  margin-bottom: 50px;
}
p {
  margin: 0;
}
